<div class="card text-white bg-dark mb-3" style="max-width: 20rem">
  <div class="card-header">Transacción</div>
  <div class="card-body">
    <h4 class="card-title">Realizar una transferencia</h4>
    <form>
      <fieldset>
        <div class="form-group">
          <label for="origen">Cuenta origen</label>
          <input
            type="number"
            class="form-control"
            id="origen"
            name="origen"
            placeholder="Cuenta origen"
            [(ngModel)]="transferencia.Origen"
            autofocus
          />
        </div>
        <div class="form-group">
          <label for="destino">Cuenta destino</label>
          <input
            type="number"
            class="form-control"
            id="destino"
            name="destino"
            [(ngModel)]="transferencia.Destino"
            placeholder="Cuenta destino"
          />
        </div>
        <div class="form-group">
          <label class="control-label">Monto</label>
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Q</span>
              </div>
              <input
                type="number"
                class="form-control"
                id="monto"
                name="monto"
                [(ngModel)]="transferencia.Monto"
              />
              <div class="input-group-append">
                <span class="input-group-text">.00</span>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-row-reverse justify-content-between">
          <button type="submit" class="btn btn-primary" (click)="transfer()">
            Transferir
          </button>
          <button type="submit" class="btn btn-warning" (click)="cancel()">
            Cancelar
          </button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
