<!--Dpi BIGINT NOT NULL PRIMARY KEY,
    Nombre VARCHAR(100) NOT NULL,
    Apellido VARCHAR(100) NOT NULL,
    NoCuenta INT NOT NULL,
    SaldoInicial DOUBLE NOT NULL,
    Correo VARCHAR(100) NOT NULL,
    Contrasenia VARCHAR(100) NOT NULL-->
<div class="container">
  <div class="row">
    <div class="col col-md-8 col-sm-12 col-lg-8">
      <div class="row">
        <div class="col col-lg-4 col-md-4 col-sm-12">
          <div class="card">
            <div class="card-header bg-dark text-white text-center">
            </div>
            <div class="body" style="padding: 20px;">
              <h6>Saldo de la Cuenta</h6>
              <div class="text-right">
                <h4 class="badge badge-dark">{{saldo}}</h4>
              </div>
              <button mat-button color="primary" (click)="generatePDF()">Descargar Reporte >></button>
            </div>
          </div>
        </div>
        <div class="col col-lg-8 col-md-8 col-sm-12">
          <div class="card">
            <div class="card-header bg-dark text-white text-center">
              Ultimos 5 Movimientos
            </div>
            <div class="body">
              <div class="table-responsive">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Monto</th>
                      <th>Cuenta Origen</th>
                      <th>Cuenta Destino</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let trans of transactions">
                      <td>
                        {{trans.Transferencia}}
                      </td>
                      <td>
                        {{trans.Monto}}
                      </td>
                      <td>
                        {{trans.Origen}}
                      </td>
                      <td>
                        {{trans.Destino}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-md-4 col-sm-12 col-lg-4">
      <div class="card">
        <div class="card-header bg-dark text-white text-center">
          Perfil
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label name = "dpi">DPI: {{ dpi }}</label>
            </div>
            <div class = "form-group">
              <label name = "nombre">Nombre: {{ nombre }}</label>
            </div>
            <div class="form-group">
              <label name = "apellido">Apellido: {{ apellido }}</label>
            </div>
            <div class = "form-group">
              <label name = "cuenta">No. Cuenta: {{ cuenta }}</label>
            </div>
            <div class = "form-group">
              <label name = "saldo">Saldo: {{ saldo }}</label>
            </div>
            <div class = "form-group">
              <label name = "correo">Correo: {{ correo }}</label>
            </div>
            <div class = "form-group">
              <label name = "contra">Contraseña: {{ contra }}</label>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-info btn-block" (click)=transacciones()>
                Transacciones <i class="fas fa-sign-in-alt"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-12 col-sm-12 col-md-12">
      <div class="card">
        <div class="card-body">
          <!--<div class="table-responsive">
            <table class="table table-borderless">
              <thead>
              <tr>
                <th>ID</th>
                <th>Monto</th>
                <th>Cuenta Origen</th>
                <th>Cuenta Destino</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let trans1 of transactions1">
                <td>
                  {{trans1.ID}}
                </td>
                <td>
                  {{trans1.Monto}}
                </td>
                <td>
                  {{trans1.Origen}}
                </td>
                <td>
                  {{trans1.Destino}}
                </td>
              </tr>
              </tbody>
            </table>-->
          <table mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="Transferencia">
              <th mat-header-cell *matHeaderCellDef> Transferencia </th>
              <td mat-cell *matCellDef="let element"> {{element.Transferencia}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="Monto">
              <th mat-header-cell *matHeaderCellDef> Monto </th>
              <td mat-cell *matCellDef="let element"> {{element.Monto}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Origen">
              <th mat-header-cell *matHeaderCellDef> Origen </th>
              <td mat-cell *matCellDef="let element"> {{element.Origen}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="Destino">
              <th mat-header-cell *matHeaderCellDef> Destino </th>
              <td mat-cell *matCellDef="let element"> {{element.Destino}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>
    </div>
</div>
