<div class="col-md-4 offset-md-4">
  <div class="card">
    <div class="card-header bg-dark text-white text-center">
      Log in
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <input type="text" name="dpi" [(ngModel)]="dpi" placeholder="DPI" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input type="text" name="Nombre" [(ngModel)]="nombre" placeholder="Nombre" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input type="text" name="Apellido" [(ngModel)]="apellido" placeholder="Apellido" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input type="text" name="Cuenta" [(ngModel)]="cuenta" placeholder="No.Cuenta" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input type="text" name="Correo" [(ngModel)]="correo" placeholder="Correo" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input type="text" name="Saldo" [(ngModel)]="saldo" placeholder="Saldo" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input type="password" name="pass" [(ngModel)]="password" placeholder="Contraseña" class="form-control" autofocus>
        </div>

        <button type="button" class="btn btn-info btn-block" (click)=Create()>
          Sign Up  <i class="fas fa-sign-in-alt"></i>
        </button>
        Or
        <button type="button" class="btn btn-info btn-block" routerLink="/">
          Sign In  <i class="fas fa-sign-in-alt"></i>
        </button>
      </form>
    </div>
  </div>
</div>
