 <div class="body">
    <div class="row">
        <div class="leftcolumn">
            <div class="card" *ngFor="let post of postList">
                <div class="form-inline">
                    <div class="form-group mb-2">
                        <h3>{{post.Usuario}}</h3>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <h6>{{post.Fecha}}</h6>
                    </div>
                </div>
                <img *ngIf="post.Foto != ''" src="assets/images/uploads/{{post.Foto}}" alt=""/><hr>
                <p *ngIf="post.Contenido != ''" ><b>{{post.Contenido}}</b></p>
            </div>
        </div>
        <div class="rightcolumn">
            <div class="card">
                <button type="button" class="btn btn-info btn-block text-uppercase" [routerLink]="['/Modification']">Editar Perfil</button>
            </div>
            <div class="card">
                <h3>¿En que estás pensando?</h3>
                <div class="form-group">
                    <textarea class="form-control" rows="3" [(ngModel)]="content" placeholder="Escibe algo..."></textarea>
                </div>
                <div class="profile-img">
                    <img src="{{src}}" alt=""/>
                    <div class="file btn btn-lg btn-primary">Seleccionar foto<input type="file" (change)="fileChange($event)" accept="image/*"/></div>
                </div>
                <button type="button" class="btn btn-success btn-block text-uppercase" (click)="createPost()">PUBLICAR</button>
            </div>
        </div>
    </div>
 </div>
