<div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-header bg-primary text-white text-center">
        Modificacion
      </div>
      <div class="card-body">
        <form>
          <div class = "form-group">
            <img src = "assets/images/uploads/{{srcActual}}" alt = ""/>
          </div>
          <div class="form-group">
            <input type="text" name="usuario" [(ngModel)]="usuario" placeholder="{{usuarioActual}}" class="form-control" autofocus>
          </div>
          <div class="form-group">
            <input type="text" name="Nombre" [(ngModel)]="nombre" placeholder="{{nombreActual}}" class="form-control" autofocus>
          </div>
        <div class="form-group">
            <label for="exampleInputFile">File input</label>
            <input type="file" class="form-control-file" onchange="fileChange(this.files)" id="exampleInputFile" aria-describedby="fileHelp">
        </div>
        <div class="form-group">
          <input type="password" name="Nombre" [(ngModel)]="contra" placeholder="Ingrese su contraseña" class="form-control" autofocus>
        </div>
          <button type="button" class="btn btn-info btn-block" (click)=Modificar()>
            Actualizar  <i class="fas fa-sign-in-alt"></i>
          </button>
        </form>
      </div>
    </div>
  </div>